section.window-shade {
  padding: 0;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column; 
      -ms-flex-direction: column; 
          flex-direction: column;

  background-size: cover;
  background-repeat: no-repeat;

  h1 > em {
    font-style: normal;
    display: block;
  }

  &:nth-of-type(2) {
    background-image: url(../images/view-from-3-brethern.jpg);
    background-position: 60% 50%;
  }
  
  &:nth-of-type(4) { 
    background-image: url(../images/specs.jpg);
    background-position: 20% 50%;
  }

  &.light-foreground-text {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  }
}

section.window-shade:nth-child(2) {
  background-color: rgb(200, 190, 255);
}

@media all and (min-width: 56em) {
  section.window-shade {
    background-attachment: fixed;
/*
    &.specs {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }

    &:first-of-type {}
    
    &:nth-of-type(2) {
      background-image: url(/images/IMG_0028.jpg);
    }*/
    
    &:nth-of-type(4) { 
      /*background-image: url(/images/specs.jpg);*/
      background-position: 48% 50%;
    }
  }
}